<h3>All Created Tasks:</h3>

<button routerLink="/addtask">New</button>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Assign To</th>
            <th>Commands</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tsk of tasks">
            <td>{{ tsk.name }}</td>
            <td>{{ tsk.description }}</td>
            <td>{{ tsk.startDate | date: 'dd MMM yyyy' }}</td>
            <td>{{ tsk.endDate | date: 'dd MMM yyyy'}}</td>
            <td>{{ tsk.assignedUserName }}</td>
            <td>
                <button (click)="editTask(tsk)">Edit</button>&nbsp;&nbsp;
                <button (click)="deleteTask(tsk)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>